a[data-test-subj="logo"] * {
  display: none;
}
a[data-test-subj="logo"] {
  background: url('data:image/svg+xml;base64,<yourbase64image>') no-repeat 0 0;
  background-size: auto 26px;
  border-bottom: none;
  background-position: 10px 10px;
}